@font-face {
	font-family: "roboto";
	src: url("assets/Roboto-Regular.ttf")
}

.full-width {
	/* width: 100vw; */
	/* position: relative; */
	/* left: 50%; */
	/* right: 50%; */
	/* margin-left: -50vw; */
	/* margin-right: -50vw; */
}

body {
	background-image: url("assets/bgrnd.png");

	width: 100%; 
	height: 100%; 

	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;

	color:white;
	font-family:roboto;
	max-width:1024px;
	margin:0 auto;
}

.welcome span, .nav{ color: #FBC23B }
.nav>a{
	text-align:center;
	padding-bottom:7px;
	border-bottom: 1px solid #FBC23B;
}

.nav{ font-weight:200; }

.header img{ margin: 30px 0 0 auto; filter:brightness(.9)}
.header>div{margin-left: auto; margin-right: 0;}

.welcome, .welcome img {height: 350px}
.welcome img {position: absolute; filter: brightness(0.8);}
.welcome h1 {font-size: 42px; text-align:right;padding-top:100px;}
.welcome span {font-size: 64px;line-height:48px;text-align:right; display:block;}

.about h1 {font-size:28px; font-weight:bold; margin:20px 0; color:#FBC23B;}
.aboutus{ text-align: right; margin: auto 50px; }


.platters{padding:32px 0; color:#ccc}
.platters h1 {color:#FBC23B; text-align:center; margin-bottom:32px; }
.platters>h1 {font-size: 42px;margin-bottom:48px}

.platter h1 {font-size: 28px}
.platter h1>span {font-size: 24px;display:block}
.platter {background:#1d1d1d; margin: 40px; padding: 30px; display:flex; align-items: center; justify-content: center; }
.platter img{width:70%;margin:0 auto;filter:brightness(.9)}

.platter{box-shadow: 0 0 22px rgba(0,0,0,.7)}
.platter>div{flex:1; letter-spacing: -1px;}
.platter>div:nth-child(1)>div{text-align:center;}
.platter>div:nth-child(1)>div:first-child{margin-bottom:30px;}
.platter>div:nth-child(1)>div>div:first-child{padding: 0 0 12px }

.platter>div:nth-child(1)>div>div:nth-child(2)>p:first-child{font-size:14px; color:#bbb}
.platter>div:nth-child(1)>div>div:nth-child(2)>p:nth-child(2){color:#FBC23B;}

.order { margin: 30px 0; text-align:center}
.order a { border: 1px solid #FBC23B; font-size: 14px; letter-spacing:1px; padding: 15px 30px; color:#1d1d1d; background:#FBC23B; border-radius:30px; transition:all .3s;}
.order a:hover { background: transparent; color:#FBC23B;}

.platter>div:nth-child(3){text-align:right;}
.platter>div:nth-child(3) h3{color:#FBC23B;}
.platter>div:nth-child(3) p,
.platter>div:nth-child(3) ul { list-style: none;margin-top:10px; direction: rtl}
.platter>div:nth-child(3) ul li::before { content: "\2022";margin-left: -15px; color: #FBC23B; font-weight: bold; display: inline-block; width: 1em; font-size: 28px; line-height: 0; vertical-align: middle;}


.payement{
	text-align:center;
	margin: 40px;
	position:relative;
	background:#333;
	height: 450px;
	overflow: hidden;
}
.payement>img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter:brightness(.4);
	opacity:.4
}
.payement>*:not(img){position:absolute; top:40px; left:80px; right:80px;}
.payement h1{ color:#FBC23B; font-size: 32px; margin:20px 0; }

.methods {display:flex;margin-bottom: 20px}
.methods>div {flex:1; padding: 0 20px}
.methods img {margin: 20px auto; height:48px;}

.icons {display:flex; width:400px; margin:0 auto;}
.icons>div {flex:1}
.icons img {height:32px; margin: 20px auto;}

.numbers{display:table;margin: 0 auto;}
.numbers>div{display:inline-block; padding:50px}
.numbers img{height: 48px;}


.numbers div:nth-child(3) img { filter: contrast(0.8);}
